// blog.scss

@import "reset";
@import "base";
@import "variables";

//-------------------------------------------------

$font-stack:	'Bellefair', serif;

$web-bg-color: #F5F0F6;
$header-bg-color: #263956;
$article-bg-color: #EEE;
$primary-color: #FFFFFF;
$heading-color: #B0413E;

$default-padding: 10px;

//-------------------------------------------------

body {
	background-color: $web-bg-color;
  background-image: url('../img/bg.png');
}

#wrapper {
  margin: 0 auto;
   height: 100%;
}

.col-md-10 {
  border-width: 0 5px 0 5px;
  border-style: solid;
  border-color: #222;
  background: #FFF;
  padding: 0;
}

header {
  color: $primary-color;
  background-color: $header-bg-color;
  margin-bottom: 20px;
  height: 100px;
  h1 {
    text-align: center;
    font-size: 42px;
    padding: 20px;    
  }
}

nav {
  margin: 20px;
}

section {
  padding: 15px;
}

article {
  margin-bottom: 30px;
  p.pub-date {
    float: right;
    display: inline;
  }
  .admin-editing {
    position: relative;
    top: -22px;         // Not clean mehtod
    float: right;
    display: inline;
  }
}

